numpy
pandas
scipy
scikit-learn
tqdm
torch
accelerate<=1.10.0
deepspeed
datasets
transformers
sentencepiece
tokenizers
hydra-core
omegaconf
optuna
sqlalchemy
rootutils
swanlab
wandb
peft
trl
rewardbench
fschat
